<div class="item" data-neuro="{neuro}" data-dmin="{dMin}" data-dmoy="{dMoy}" data-dmax="{dMax}">
    <div class="top">
        <div class="top left"><img class="img" height="64" width="64" src="img/products/{file}"></div>
        <div class="top right"><span class="title">{title}</span></div>
    </div>
    <hr />
    <div class="bottom">
        <div class="top left">
            <div class="dosage title">{desc}</div>
        </div>
        <div class="top right">
            <a class="button" target="_blank" href="{link}">commander</a>
        </div>
    </div>
</div>