<div id="slide-{id}" class="slide-container">
    <div class="slide-item">        
        <div>
            <div class="back" onclick="quizz.previousSlide({id})">
                <img height="28" width="28" src="img/icons/keyboard_arrow_left-24px.svg" />
                <div>Retour</div>
            </div>

            <div class="progress-wrapper">
                <div class="title">{na}</div>

                <div class="progress">
                    <div></div>
                </div>        
            </div>

            <p class="section">{sect}</p>
            <p class="question">{desc}</p>
        </div>
        <div class="slide-radios">
            <div class="radio-item" onclick="quizz.nextSlide({id}, true)">
                <input id="q{id}-true" class="questions" data-text="OUI" name="q{id}" type="radio">
                <label for="q{id}-true">OUI</label>
            </div>

            <div class="radio-item" onclick="quizz.nextSlide({id}, false)">
                <input id="q{id}-false" data-text="NON" name="q{id}" type="radio">
                <label for="q{id}-false">NON</label>
            </div>
        </div>
    </div>
</div>