<div class="item {supplementId}" data-neuro="{neuro}" data-dmin="{dMin}" data-dmoy="{dMoy}" data-dmax="{dMax}" data-supplementid="{supplementId}" data-default="{default}">
    <div class="top">
        <div class="top left"><img class="img" height="64" width="64" src="img/supplements/{file}" /></div>
        <div class="top right"><span class="title">{title}</span></div>
    </div>
    <hr />
    <div class="bottom">
        <div class="top left"><span class="pill neuro">{neuro}</span></div>
        <div class="top right">
            <div class="bottom"><span class="dosage title">Dosage recommandé</span></div>
            <div class="bottom"><span class="dosage amount">{placeholder}</span></div>
        </div>
        <div class="bottom">
            <label class="label">
                <input type="checkbox" class="show" />
                <img height="35" width="35" src="img/icons/keyboard_arrow_right-24px.svg" />
                <p class="description">
                    {desc} <br/> <br/>
                    <span style="color: gray">Powered by BioCurae &#174;</span>
                </p>
            </label>
        </div>
    </div>
</div>