<div class="item" data-neuro="{neuro}" data-dmin="{dMin}" data-dmoy="{dMoy}" data-dmax="{dMax}">
    <div class="top">
        <div class="top left"><img class="img" height="64" width="64" src="img/supplements/{file}"></div>
        <div class="top right"><span class="title">{title}</span></div>
    </div>
    <hr />
    <div class="bottom">
        <div class="top left"><span class="pill acide-gras">{neuro}</span></div>
        <div class="top right">
            <div class="bottom"><span class="dosage title">Dosage recommandé</span></div>
            <div class="bottom"><span class="dosage amount">{placeholder}</span></div>
        </div>
        <div class="bottom">
            <label class="label">
                <input type="checkbox" class="show" />
                <p class="description">
                    {desc}
                </p>
            </label>
        </div>
    </div>
</div>