/* #region Style */
$backgground-color: #FFFFFF;
/* Neuro Title */
$neurotransmetter-title-color: #922692;    
/* Progress*/
$progress-color:#AE3EC9;
/* sub-title */
$sub-title-color:#697DA5;
/* Question*/
$question-color:#203B72;
/* Button BG */
$button-bg-color: #F8F8F8;
/* Button Border */
$button-border-color:#C8C3C3;

$button-selected-bg-color: lighten($progress-color, 30%);
$button-selected-border-color: #000000;

/* Arial, Bold, Regular : 15pt, 20pt */
$font-family: "Arial";
$font-size-small: 15px;
$font-size-big: 20px;

/* height */
// valeur à changer en fontion de la hauteur de leur header
// height total = 99vh

$header-height: 8vh;

// quizz: il doit y avoir 8vh entre le header et le body
$quizz-body-height: 91vh;

//supplements: il doit y avoir 12vh entre le header et le body
$supplement-body-height: 87vh;

$supplement-tabs-height: 5vh;
