/* #region Style */
/* Neuro Title */
/* Progress*/
/* sub-title */
/* Question*/
/* Button BG */
/* Button Border */
/* Arial, Bold, Regular : 15pt, 20pt */
<<<<<<< HEAD
/* height */
=======
>>>>>>> c7144ed809e1c15f6dec650fe2418e6b0039180f
/* #region ----------------------------------------------- SUPPLEMENTS BODY */
body {
  overflow: hidden;
}

<<<<<<< HEAD
.header {
  height: 8vh;
}

/* #endregion ----------------------------------------------- SUPPLEMENTS BODY */
/* #region ----------------------------------------------- TABS */
.tabset {
  text-align: center;
}

.tabset > input[name=tabset] {
=======
/* #endregion ----------------------------------------------- SUPPLEMENTS BODY */
/* #region ----------------------------------------------- TABS */
.tabset > input[name="tabset"] {
>>>>>>> c7144ed809e1c15f6dec650fe2418e6b0039180f
  display: none;
}

.tabset .tab-panel {
  display: none;
}

#tab1:checked ~ .tab-panels,
#tab2:checked ~ .tab-panels {
<<<<<<< HEAD
  height: 87vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
=======
  height: 88vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
>>>>>>> c7144ed809e1c15f6dec650fe2418e6b0039180f
}

#tab1:checked ~ .tab-panels > #supplements,
#tab2:checked ~ .tab-panels > #products {
  display: block;
  overflow: auto;
}

/* Styling */
.tabset > label {
  position: relative;
  display: inline-block;
<<<<<<< HEAD
  padding: 10px 18% 0px;
  cursor: pointer;
  margin: 0 0 0 4px;
  height: 5vh;
=======
  padding: 10px 20% 0px;
  cursor: pointer;
  margin: 0 0 0 4px;
>>>>>>> c7144ed809e1c15f6dec650fe2418e6b0039180f
}

.tabset > input:checked + label {
  border-bottom: 2px solid #AE3EC9;
}

.tab-panel {
  padding: 5px 30px;
}

/* #endregion ----------------------------------------------- TABS */
/* #region ----------------------------------------------- Products */
section p.title {
  color: #203B72;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.item {
<<<<<<< HEAD
  box-shadow: 0px 0px 9px 1px #C8C3C3;
  margin-bottom: 20px;
}
=======
  -webkit-box-shadow: 0px 0px 9px 1px #C8C3C3;
          box-shadow: 0px 0px 9px 1px #C8C3C3;
  margin-bottom: 20px;
}

>>>>>>> c7144ed809e1c15f6dec650fe2418e6b0039180f
.item .top,
.item .bottom {
  display: block;
}

.item .top.right,
.item .top.left,
.item .bottom.right,
.item .bottom.left {
  display: inline-block;
}

.item .top .top.left {
  vertical-align: middle;
  height: 85px;
  width: 100px;
}

.item .top .top.right {
  width: 56%;
}

.item .bottom .top.left {
  text-align: center;
  height: 33px;
  width: 38%;
}

.item .bottom .top.right {
  vertical-align: middle;
  height: 33px;
  width: 56%;
  text-align: center;
}

.item .top .top.right span.title {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #697DA5;
}

/* #region : expandable */
#supplements .item .bottom .bottom .description {
  font-family: Arial;
  font-size: 15px;
  margin: 0;
  padding: 0 10px 10px 10px;
  text-align: left;
  color: #697DA5;
}
<<<<<<< HEAD
#supplements .item > .bottom > .bottom {
  text-align: right;
}
#supplements .item .bottom .show {
  display: none;
}
#supplements .item .bottom .show:not(:checked) ~ .description {
  display: none;
}
=======

#supplements .item > .bottom > .bottom {
  text-align: right;
}

#supplements .item .bottom .show {
  display: none;
}

#supplements .item .bottom .show:not(:checked) ~ .description {
  display: none;
}

>>>>>>> c7144ed809e1c15f6dec650fe2418e6b0039180f
#supplements .label img {
  height: 35px;
  width: 35px;
  margin: 0 15px 0 0;
<<<<<<< HEAD
  transition: transform 0.3s;
}
#supplements .show:checked ~ img {
  transform: rotate(90deg);
=======
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#supplements .show:checked ~ img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
>>>>>>> c7144ed809e1c15f6dec650fe2418e6b0039180f
}

/* endregion : expandable */
/* region ----------------------------------------------- Pills */
.pill {
  padding: 6px 16px;
  border-radius: 20px;
  vertical-align: sub;
  font-size: 12px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
<<<<<<< HEAD
.pill.acide-amines {
  background-color: #C8C3C3;
}
=======

.pill.acide-amines {
  background-color: #C8C3C3;
}

>>>>>>> c7144ed809e1c15f6dec650fe2418e6b0039180f
.pill.acide-gras {
  background-color: #AE3EC9;
  color: #FFFFFF;
}
<<<<<<< HEAD
=======

>>>>>>> c7144ed809e1c15f6dec650fe2418e6b0039180f
.pill.recommendations {
  margin: 0px 0 20px 0;
  background-color: #AE3EC9;
  color: #FFFFFF;
  border-radius: 0;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

/* #endregion ----------------------------------------------- Pills */
.dosage.title {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color: #203B72;
  font-size: 14px;
  font-weight: bold;
}

.dosage.amount {
  font-family: Assistant;
  color: #AE3EC9;
  font-size: 14px;
  font-weight: bold;
}

.item img {
  height: 64px;
  width: 64px;
  margin: 10px 15px;
}

.item hr {
  border: 0;
  height: 1px;
<<<<<<< HEAD
=======
  background-image: -webkit-gradient(linear, left top, right top, from(#b7b7b600), color-stop(#C8C3C3), to(#b7b7b700));
>>>>>>> c7144ed809e1c15f6dec650fe2418e6b0039180f
  background-image: linear-gradient(to right, #b7b7b600, #C8C3C3, #b7b7b700);
}

#products .item .bottom .top.left {
  width: 50%;
  height: auto;
  vertical-align: super;
}
<<<<<<< HEAD
=======

>>>>>>> c7144ed809e1c15f6dec650fe2418e6b0039180f
#products .item .bottom .top.right {
  width: 45%;
  height: 50px;
}
<<<<<<< HEAD
=======

>>>>>>> c7144ed809e1c15f6dec650fe2418e6b0039180f
#products .dosage {
  text-align: left;
  margin-left: 15px;
}
<<<<<<< HEAD
=======

>>>>>>> c7144ed809e1c15f6dec650fe2418e6b0039180f
#products a.button {
  background-color: #AE3EC9;
  color: #FFFFFF;
  font-size: 14px;
  border-radius: 7px;
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
}

<<<<<<< HEAD
/* #endregion ----------------------------------------------- Products *//*# sourceMappingURL=supplements.css.map */
=======
/* #endregion ----------------------------------------------- Products */
/*# sourceMappingURL=supplements.css.map */
>>>>>>> c7144ed809e1c15f6dec650fe2418e6b0039180f
