@import "setup.scss";
/* #region ----------------------------------------------- SUPPLEMENTS BODY */
body {
    overflow: hidden;
}
/* #endregion ----------------------------------------------- SUPPLEMENTS BODY */

/* #region ----------------------------------------------- TABS */
.tabset > input[name="tabset"] {
    display: none;
}
.tabset .tab-panel {
    display: none;
}
#tab1:checked ~ .tab-panels,
#tab2:checked ~ .tab-panels {
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#tab1:checked ~ .tab-panels > #supplements,
#tab2:checked ~ .tab-panels > #products {
    display: block;
    overflow: auto;
}
/* Styling */
.tabset > label {
    position: relative;
    display: inline-block;
    padding: 10px 20% 0px;
    cursor: pointer;
    margin: 0 0 0 4px;
}
.tabset > input:checked + label {
    border-bottom: 2px solid $progress-color;
}
.tab-panel {
    padding: 5px 30px;
}
/* #endregion ----------------------------------------------- TABS */


/* #region ----------------------------------------------- Products */
section p.title {
    color: $question-color;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;     
    text-align: center;       
}

.item {
    box-shadow: 0px 0px 9px 1px $button-border-color;
    margin-bottom: 20px;

    .top,
    .bottom
    {
        display: block;
    }
}



.item .top.right,
.item .top.left,
.item .bottom.right,
.item .bottom.left
{
    display: inline-block;
}

.item .top .top.left {
    vertical-align: middle;
    height: 85px;
    width: 100px;             
}
.item .top .top.right {
    width: 56%;  
}
.item .bottom .top.left {
    text-align: center; 
    height: 33px;
    width: 38%;            
}
.item .bottom .top.right {
    vertical-align: middle;
    height: 33px;
    width: 56%;
    text-align: center;          
}        
.item .top .top.right span.title {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;    
    font-size: 20px;
    font-weight: bold;
    color: $sub-title-color;
}

/* #region : expandable */
#supplements {
    .item .bottom .bottom .description {
        font-family: Arial;
        font-size: 15px;
        margin: 0;
        padding: 0 10px 10px 10px;
        text-align: left;
        color: $sub-title-color;
    }
    .item > .bottom > .bottom {
        text-align: right;
    }
    .item .bottom .show {
        display: none;
    }
    .item .bottom .show:not(:checked) ~.description {
        display: none;
    }
    .label img {
        height: 35px;
        width: 35px;
        margin: 0 15px 0 0;        
    }
    .show:checked ~img {
        transform: rotate(90deg);
    }
}
/* endregion : expandable */

/* region ----------------------------------------------- Pills */
.pill {
    padding: 6px 16px;
    border-radius: 20px;    
    vertical-align: sub;
    font-size: 12px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

    &.acide-amines {
        background-color: $button-border-color;
    }
    &.acide-gras {
        background-color: $progress-color;
        color: $backgground-color;
    }    
    &.recommendations {
        margin: 0px 0 20px 0;
        background-color: $progress-color;
        color: $backgground-color;
        border-radius: 0;
        border: none;
        width: 100%;
        padding: 10px 20px;
        font-size: 15px;
        font-weight: bold;
    }
}
/* #endregion ----------------------------------------------- Pills */

.dosage.title {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: $question-color;
    font-size: 14px;
    font-weight: bold;
}
.dosage.amount {
    font-family: Assistant;
    color: $progress-color;
    font-size: 14px;
    font-weight: bold;
}        


.item img {
    height: 64px;
    width: 64px;      
    margin: 10px 15px;  
}

.item hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #b7b7b600, $button-border-color, #b7b7b700)
} 

#products {
      .item .bottom .top.left {
          width: 50%;
          height: auto;
          vertical-align: super;          
      }
      .item .bottom .top.right {
          width: 45%;
          height: 50px;
      }
      .dosage {
          text-align: left;
          margin-left: 15px;
      }
      a.button {
          background-color: $progress-color;
          color: $backgground-color;
          font-size: 14px;
          border-radius: 7px;
          padding: 10px 15px;
          text-decoration: none;
          display: inline-block;
      }
}
/* #endregion ----------------------------------------------- Products */